.row_corner_indicator {
    width: 70px !important;
    height: 2.1em !important;
}

.Spreadsheet {
    width: 100%;
}

.Spreadsheet__table {
    width: 100%;
}

.editor_class {
    height: 400px;
    overflow-y: scroll;
}

#ala td{
    background-color: blue;
}